.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-header .ant-table-thead > tr th::before {
  background-color: transparent !important;
}
.custom-header .ant-table-thead > tr th {
  background-color: black !important;
  border: 0px;
  color: #8a8aa0;
  font-weight: bold;
  font-size: 18px;
  padding: 2rem 1rem !important;
}

.custom-header .ant-table-tbody > tr td {
  background-color: #101010 !important;
  border: 0px;
  border-bottom: 1px dimgray !important;
  color: #8a8aa0;
}
.custom-header .ant-table {
  background-color: transparent !important;
}
.custom-header .ant-table-content table{
  border: 0px;
  border-radius: 0px;
}

.ant-input-outlined:hover {
  background-color: transparent !important;
}

.ant-input-outlined:focus {
  background-color: transparent !important;
}